@{
    ViewData["Title"] = "Home Page";
}





<html>


<body>
    <div class="container">
        <div class="row" id="main_row">

            <div class="col">
                <canvas id="canvas"></canvas>
            </div>

            <div class="col">
                <div class="container" style="height: 640px; overflow-y: scroll;">
                    <h4 id="scrollspyHeading1">First </h4>
                    <div class="container">
                        <a id="btn_start" type="button" class="sign_button"></a>
                        <a id="sign3" type="button" class="sign_button"></a>
                        <a id="sign4" type="button" class="sign_button"></a>
                        <a id="sign5" type="button" class="sign_button"></a>
                        <a id="sign6" type="button" class="sign_button"></a>
                        <a id="sign7" type="button" class="sign_button"></a>

                    </div>
                    <h4 id="scrollspyHeading2">Second </h4>
                    <div class="container">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">

                    </div>
                    <h4 id="scrollspyHeading3">Third </h4>
                    <div class="container">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">


                    </div>
                    <h4 id="scrollspyHeading4">Fourth </h4>
                    <div class="container">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>